/* Estilos para el header */
header {
    background-color: #333;
    color: #fff;
    align-items: center;
    width: 100%;
    font-size: 24px; /* Aumenta el tamaño de fuente */
    height: 100px; /* Aumenta la altura del header */
    margin-bottom: 30px;
}

.header-left {
    display: flex; /* Utiliza flexbox para centrar vertical y horizontalmente */
    align-items: center;
    justify-content: center;
    text-align: center; /* Asegura que el texto esté centrado */
    height: 100%; /* Ocupa la altura completa del contenedor padre */
}

.logo {
    margin: 0; /* Elimina el margen predeterminado del h1 */
}

/* Footer */
footer {
    text-align: center;
    padding: 20px 0;
    background-color: #333;
    color: #fff;
    margin-top: 30px;
}

main {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* Cambiado a min-height para garantizar que el contenido ocupe al menos toda la altura visible de la pantalla */
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin: 20px; /* Añadido margen para separar el formulario de otros elementos */
    padding: 20px; /* Añadido espacio interno al formulario */
    border: 1px solid #ccc; /* Añadido borde al formulario */
    border-radius: 10px; /* Bordes redondeados */
    width: 300px; /* Ancho del formulario */
    background-color: #fff; /* Fondo blanco */
}

label {
    font-weight: bold;
}

input, button {
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

p {
    margin-top: 10px;
}

/* Estilos para el formulario */
form.custom-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Dos columnas para los checkboxes */
    gap: 10px; /* Espacio entre los elementos */
}

/* Estilos para cada opción (p) dentro del formulario */
form.custom-form p {
    display: flex;
    align-items: center;
}

/* Estilos para los labels */
form.custom-form label {
    margin-right: 10px;
}
