header {
    padding-left: 0px;
}

main {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
    box-sizing: border-box;
}

.custom-form {
    max-width: 600px; /* Ajusta el ancho máximo según tus preferencias */
}

.checkbox-grid {
    display: inline-block; /* Muestra los elementos en línea */
    margin-right: 10px; /* Añade un margen a la derecha para separar los elementos */
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 100%;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
}

label {
    font-weight: bold;
    margin-bottom: 5px; /* Añadimos un pequeño espacio entre la etiqueta y el input */
}

select, input[type="text"], input[type="checkbox"] {
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

select[multiple] {
    height: 100px;
}

.checkbox-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Organizamos los checkboxes en una cuadrícula */
    gap: 10px;
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}