/* Estilos para el header */
header {
    background-color: #333;
    color: #fff;
    align-items: center;
    width: 100%;
    font-size: 24px; /* Aumenta el tamaño de fuente */
    height: 100px; /* Aumenta la altura del header */
}

.header-left {
    display: flex; /* Utiliza flexbox para centrar vertical y horizontalmente */
    align-items: center;
    justify-content: center;
    text-align: center; /* Asegura que el texto esté centrado */
    height: 100%; /* Ocupa la altura completa del contenedor padre */
}

.logo {
    margin: 0; /* Elimina el margen predeterminado del h1 */
}

/* Resto de tus estilos para el header... */


/* Estilos para el menú de navegación */
nav {
    background-color: #333;
    text-align: center;
    width: 100%;
    font-size: 24px; /* Aumenta el tamaño de fuente */
    height: auto;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin: 0 30px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

/* Estilos para el contenido principal */
.main-content {
    margin-top: 20px; /* Aumenta el margen superior para evitar superposiciones */
}




/* Sección Hero */
#hero {
    margin-top: auto;
    text-align: center;
    padding: 100px 0;
    background-image: url('pizza-hero.jpg');
    background-size: cover;
    background-position: center;
    color: #101010;
}

#hero h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.boton {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff5733;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}
/* Sección Menú */
#menu {
    text-align: center;
    padding: 50px 0;
}

.menu-item {
    display: inline-block;
    margin: 20px;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center; /* Centra el contenido horizontalmente */
}

.menu-item img {
    max-width: 150px; /* Ajusta el ancho máximo para hacer las imágenes más pequeñas */
    border-radius: 5px;
}

.menu-item h3 {
    font-size: 24px;
}

.menu-item p {
    font-size: 16px;
}

.precio {
    font-size: 20px;
    font-weight: bold;
    color: #ff5733;
}

.button-container {
    text-align: center; /* Centra el botón horizontalmente */
    margin-top: 20px; /* Añade margen superior para separarlo del párrafo */
}

.btn-haz-tu-pizza {
    text-decoration: none;
    color: #fff;
    background-color: #ff5733;
    padding: 15px 30px;
    border-radius: 5px;
    font-weight: bold;
    display: inline-block; /* Asegura que el botón sea un bloque en línea */
}


/* Sección Sobre Nosotros */
#sobre-nosotros {
    background-color: #fff;
    padding: 50px 0;
    text-align: center;
}

/* Sección Contacto */
#contacto {
    text-align: center;
    padding: 50px 0;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px 0;
    background-color: #333;
    color: #fff;
}

#elecciones {
    margin: auto;
    text-align: center;
    margin-top: 20px; /* Ajusta según sea necesario */
    margin-bottom: 20px; /* Ajusta según sea necesario */
}