<!DOCTYPE html>
<html lang="es">
<head>

    {% load static %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crea tu Propia Pizza - Pizzería Delizioso</title>
    <link rel="stylesheet" href="estilos.css">
    <!-- Boostrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'pizzeriawebapp/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'pizzeriawebapp/css/pizza.css' %}">
</head>
<body>
    <header>
        <div class="header-left">
            <h1 class="logo">Pizzería Delizioso</h1>
        </div>
    </header>

    <main>
        <h2>Crea tu Propia Pizza</h2>
        <form action="{% url 'Crear Pizza' %}" method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit">Crear Pizza</button>
        </form>
    </main>

    <footer>
        <p>&copy; 2023 Pizzería Delizioso</p>
    </footer>
</body>
</html>
