<!DOCTYPE html>
<html lang="es">
<head>

    {% load static %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pizzería Delizioso</title>
    <!-- Boostrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    
    <link rel="stylesheet" href="{% static 'pizzeriawebapp/css/styles.css' %}">
</head>
<body>
    <header>
        <h1 class="logo">Pizzería Delizioso</h1>
        <nav>
            <ul>
                <li><a href="#menu">Menú</a></li>
                <li><a href="#sobre-nosotros">Sobre Nosotros</a></li>
                <li><a href="#contacto">Contacto</a></li>
            </ul>
        </nav>
    </header>

    <section id="hero">
        <h2>Bienvenido a Pizzería Delizioso</h2>
        <p>Donde la pasión por la pizza se encuentra con los ingredientes más frescos y la tradición italiana.</p>
        <a href="#menu" class="boton">Ver Menú</a>
    </section>

    <section id="menu">
        <h2>Nuestro Menú</h2>
        <div class="menu-item">
            <img src="pizza1.jpg" alt="Pizza Margarita">
            <h3>Pizza Margarita</h3>
            <p>Tomate, mozzarella fresca, albahaca.</p>
            <span class="precio">$10.99</span>
        </div>
        <div class="menu-item">
            <img src="pizza2.jpg" alt="Pizza Pepperoni">
            <h3>Pizza Pepperoni</h3>
            <p>Tomate, mozzarella, pepperoni.</p>
            <span class="precio">$12.99</span>
        </div>
        <!-- Agrega más elementos del menú aquí -->
    </section>

    <section id="sobre-nosotros">
        <h2>Sobre Nosotros</h2>
        <p>Somos una pizzería familiar que ha estado sirviendo pizzas auténticas y deliciosas durante más de 20 años. Nuestro compromiso con la calidad y el sabor nos distingue.</p>
    </section>

    <section id="contacto">
        <h2>Contacto</h2>
        <p>¿Tienes alguna pregunta o comentario? ¡Estamos aquí para ayudarte!</p>
        <p>Contáctanos: <a href="tel:123-456-7890">123-456-7890</a></p>
        <p>Envíanos un correo electrónico: <a href="mailto:info@pizzeriadelizioso.com">info@pizzeriadelizioso.com</a></p>
    </section>

    <footer>
        <p>&copy; 2023 Pizzería Delizioso</p>
    </footer>
</body>
</html>